* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
    font-family: "Andada Pro", serif;
    scroll-behavior: smooth;
    background: linear-gradient(90deg, #1f4037 0%, #99f2c8 100%);
}

h1 {
    padding: 0.5rem;
    font-size: 2rem;
    width: 90%;
    margin: 0.5rem auto;
    border: solid 1px white;
    border-radius: 0.3rem;
    background-color: white;
    opacity: 0.8;
}

header {
    text-align: center;
    letter-spacing: 0.4rem;
    font-weight: 100;
    font-size: 1rem;
    color: #1f4037;
    font-family: "Italianno", cursive;
}

img#panorama {
    width: 100%;
    padding: 0;
    display: block;
    opacity: 0.8;
    border-top: solid 1px white;
    border-bottom: solid 1px white;
}

nav,
main {
    margin: 0 0.5rem;
}

nav ul {
    list-style-type: none;
}

nav li {
    padding: 0.3rem;
    border-bottom: solid 1px white;
}

li a {
    text-decoration: none;
    font-family: "Italianno", cursive;
    font-size: 1.8rem;
    color: white;
    font-weight: 500;
    letter-spacing: 0.4rem;
}

div#welcome {
    padding: 1rem;
    font-family: "Italianno", cursive;
    font-size: 1.5rem;
    background-color: rgba(255, 255, 255, 0.473);
    color: #1f4037;
    width: 90%;
    overflow: hidden;
    margin: 1rem auto;
    text-align: center;
    border-top-left-radius: 0.6rem;
    border-bottom-left-radius: 0.1rem;
    border-top-right-radius: 0.6rem;
    border-left: solid 0.5rem #ffffff;
    opacity: 0.8;
}

a#activ {
    font-size: 2rem;
    letter-spacing: 0.6rem;
    color: #1f4037;
    padding: 1rem;
}

li#activLi {
    background-color: white;
    border-radius: 0.3rem;
    opacity: 0.8;
    width: 50%;
}

li a:hover {
    background-color: white;
    border-radius: 0.3rem;
    opacity: 0.8;
    width: 50%;
    padding-left: 1rem;
    color: #1f4037;
    padding-right: 1rem;
}

div.firstParagraph,
div.secondParagraph {
    background-color: white;
    margin-top: 1rem;
    margin-bottom: 1rem;
    color: #1f4037;
    line-height: 1.5rem;
    letter-spacing: 0.15rem;
    background-color: rgba(255, 255, 255, 0.473);
    color: #1f4037;
    width: 90%;
    overflow: hidden;
    margin: 1rem auto;
    text-align: center;
    border-top-left-radius: 0.1rem;
    border-bottom-left-radius: 0.1rem;
    border-left: solid 0.5rem #ffffff;
    opacity: 0.9;
    border-top-right-radius: 0.1rem;
    border-bottom-right-radius: 0.1rem;
}

div.firstParagraph h2,
div.secondParagraph h2 {
    text-align: center;
    padding: 1.5rem;
}

table {
    background: white;
    width: 100%;
    margin: 0 auto;
    padding: 1rem;
    color: #1f4037;
}

article img {
    width: 75%;
    display: block;
    margin: 1rem auto;
    border-radius: 0.3rem;
}

figcaption {
    text-align: center;
    padding-bottom: 2rem;
}

div.secondParagraph {
    background-color: #1f4037;
    color: white;
    border-bottom-right-radius: 0.6rem;
    border-top-left-radius: 0.1rem;
    border-bottom-left-radius: 0.6rem;
}

p {
    padding: 1rem 0.5rem;
    font-size: 0.8rem;
}

span#author {
    color: white;
    font-size: 1.1rem;
    font-family: "Ephesis", cursive;
}
