/* ==== A SIMPLE CSS RESET FROM ERIC MEYER ==== */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*====CSS RESET END=====*/


body {
  min-width: 375px;
  font-family: 'Fanwood Text', Arial, serif;
  background: linear-gradient(rgba(235, 184, 139),white,rgba(235, 184, 139),white,rgba(235, 184, 139),white);
}

/*==HEADER==*/


.picture {
  margin: 0 auto;
  width: 100vw;
  border-bottom: solid 1px black;
}

h1 {
  font-size: 1.6rem;
  letter-spacing: 0.25rem;
  padding: 1rem;
  position: relative;
  margin-bottom: -4rem;
  background: linear-gradient(rgba(235, 184, 139), rgba(255,255,255, .5));
  border-bottom: solid 1px black;
  font-weight: bold;
}
h1,h2,h3 {
  text-align: center;
}

/*==Main MENU==*/

.main-menu {
  text-align: center;
  position: relative;
  
}

.menu-button {
  align-items: center;
  width: 90%;
  margin: 2% auto;
  padding: 1%;
  background: white;
  letter-spacing: 0.125rem;
  border-radius: 5px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom: solid 1px grey;
  border-top: solid 1px black;
  border-left: solid 1px black;
  border-right: solid 1px grey;
}

.menu-link{
  font-size: 1.25rem;
  background: pink;
  border-top: solid 1px white;
  letter-spacing: 0.125rem;
  border-radius: 5px;
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.menu-button:hover {
  color: white;
  background: linear-gradient(90deg, rgba(235, 184, 139), rgba(255,255,255, .1));
}

/*==CONTENT==*/

.content {
  position: relative;
  margin-top: 1rem;
  font-size: 1.25rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  letter-spacing: 0.1rem;
  line-height: 1.5rem;
  
}

h2 {
  font-size: 1.4rem;
  padding: 0.75rem;
  font-family: bold;
}
.foot-info {
  background: brown;
}

.main-picture {
  width: 70%;
  display: block;
  margin: 0 auto;
  border-radius: 5px;
  border: solid 1px white;
  box-shadow: 10px 5px 5px rgba(0, 0, 0, .5);
}

figcaption {
  font-size: 0.75rem;
  text-align: center;
  padding: 0.35rem;
}

.main-picture:hover {
  transform:scale(1.05);
  transition: ease-in-out 0.4s;
}

figure {
  padding: 0.5rem;
  background: rgba(255, 255, 255, .7);
  border-radius: 5px;

}

hr {
  margin: 0.75rem;
}

p {
  padding: 0.5rem;
}

/*==FOOTER==*/

.foot-info {
  background: rgba(255, 255, 255, .7);
}

h3 {
  padding: 0.5rem;
  border-top: solid 1.5px black;
  border-bottom: solid 1.5px black;
  background: rgba(224, 154, 92, 0.4);
  font-size: 1.125rem;
}

ul {
  text-align: center;
  background: white;
}

li {
  font-size: 0.75rem;
  padding: 0.5rem;
  
}

.brown {
  background: rgba(0, 0, 0, .1);
}

a {
  text-decoration:  none;
}

a:visited {
  color: black;
}

li:hover {
  background: rgb(202, 172, 172);
  color: white;
}
