/* ==== A SIMPLE CSS RESET FROM ERIC MEYER ==== */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*====CSS RESET END=====*/


.header {
  width: 100%;
  background-color: gainsboro;
}

hr {
  border: solid 1px gainsboro;
}

body {
  font-family: 'Fanwood Text', Arial, serif;
  font-size: 1.125rem;
  line-height: 1rem;
  color: black;
  width: 100vw;
    display: flex;
  align-items: center;
  justify-content: center;
  background-color: gainsboro;
}

h1, h2 {
  font-family: Quattrocento, Arial, serif;
  font-size: 1rem;
  text-align: center;
  font-weight: bold;
  letter-spacing: 0.5rem;
}


.picture {
  width: 100%;
}

.header-picture {
  width: 100%;
}

button {
  margin: 0 auto;
  text-align: center;
  width: 50%;
  float: left;
  font-size: 1rem;
  background-color: rosybrown;
  font-weight: bold;
  letter-spacing: 0.25rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  color: gainsboro;
  border-left: none;
  border-top: none;
}


.main,{
  margin: 0 auto;
  width: 96%;
}

.footer-down {
  background-color: rosybrown;
  color: black;
  font-size: 0.85rem;
  width: 100%;
}

li {
  color: black;
  padding: 0.5rem;
}

a {
  color: black;
}

.first-paraghraf {
  padding: 0.5rem;
}

.media {
  width: 50%;
  float: left;
  text-align: center;
}

.contact {
  text-align: center;
}

.artist {
  text-align: center;
  background-color: gainsboro;
  color: black;
  font-size: 0.65rem;
  padding: 0.25rem;
  border-top: solid 2px beige;
}

.place-name {
  background-color: rosybrown;
  color: gainsboro;
  margin-bottom: -2.5rem;
  letter-spacing: 0.5rem;
  font-family: 'Fanwood Text', Arial, serif;
  padding: 0.5rem;
  max-width: 100%;
  position: relative;
}

/*====FROM 768px====*/

@media (min-width: 768px) {
  .main-menu {
    margin-top: -20rem;
    position: relative;
    width: 100%;
  }
  
  button {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    font-size: 1.75rem;
    width: 25%;
  }
  
  .main {
    margin-top: 20rem;
  }
  
  .place-name {
    width: 100%;
  }
}

/*====FROM 1024px===*/

@media (min-width: 1024px) {
  .place-name {
    font-size: 3rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  
  .main {
    font-size: 1.5rem;
  }
  
  h1 {
    font-size: 1.75rem;
  }
  
  .footer-down, .media {
    font-size: 1rem;
  }
}